.sidebar {
    background-color:lightgray;
    float: left;
    height: 100%;
    position: absolute;
    padding-left: 20px;
    width: 300px;
    
}

.sidebar .transparency {
    opacity: 0.3;
    padding-bottom: 20px;
}

.sidebar div {
    float: left;
    clear: none;
}

.sidebar .createbutton {
    margin-top: 30px;
    margin-left: 15px;
}

.sidebar table {
    margin-top: 80px;
}


ui-view {
    display: block;
    overflow: hidden;
}


ul {
    list-style: none;
    margin-left: 300px;
    padding-left: 0;
    
}

li:nth-child(odd) {
    background-color:azure;
}

.chatTitle {
    margin-left: 300px;
    font-size: 26px;
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    padding-left: 10px;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
    
}

.bottom {
    margin-left: 300px;
    bottom: 0;
    position: fixed;
    
}

td:hover {
   cursor: pointer; 
}

body {
    overflow: hidden;
}



.messageArea {
    
    overflow-y: auto;
    margin-top: 38px;
}