.sidebar {
    background-color:lightgray;
    float: left;
    height: 100%;
    position: absolute;
    padding-left: 20px;
    width: 300px;
    
}

.sidebar .transparency {
    opacity: 0.3;
    padding-bottom: 20px;
}

.sidebar div {
    float: left;
    clear: none;
}

.sidebar .createbutton {
    margin-top: 30px;
    margin-left: 15px;
}

.sidebar table {
    margin-top: 80px;
}

li p {
    margin-left: 20%;
}

.chatTitle {
    margin-left: 20%;
    margin-bottom: 30px;
}