<div class="sidebar">
    <div>
        <h1>Bloc Chat</h1>
    </div>
    <div>
    
        <div class="createbutton" ng-click="main.roomConnect.openmodal()">
            <form>
                <input type="submit" value="New room">
            </form>
        </div>
    

    </div>   
    <table>
        <tr ng-repeat="room in main.rooms">
            <td class="transparency" ng-click="main.selectRoom(room.$id)">{{ room.$value }}</td>
        </tr>
    </table>       
</div>

<div>           
    
    <ul>
        <li class="chatTitle">{{ main.roomTitle }}</li>
        <li ng-repeat="message in main.roomMessages">
            <p>{{message.username}} — {{message.sentAt}}</p>
            <p>{{message.content}}</p>
        </li>
    </ul>       
</div> 