<div class="sidebar">
    <div>
        <h1>Bloc Chat</h1>
    </div>
    <div>
    
        <div class="createbutton" ng-click="main.roomConnect.openmodal()">
            <form>
                <input type="submit" value="New room">
            </form>
        </div>
    

    </div>   
    <table>
        <tr ng-repeat="room in main.rooms">
            <td class="transparency" ng-click="main.active={{ room.$value }}">{{ room.$value }}</td>
        </tr>
    </table>       
</div>

<div>           
    <table>
        <tr ng-repeat="message in main.messages.getByRoomId(main.active)">
            <td>{{ message }}</td>
        </tr>
    </table>       
</div> 