<div class="sidebar">
    <div>
        <h1>Bloc Chat</h1>
    </div>
    <div>
    
        <div class="createbutton" ng-click="main.roomConnect.openmodal()">
            <button type="button" class="btn btn-default">New room</button>
        </div>
    

    </div>
   
    <table>
       
        <tr ng-repeat="room in main.rooms">
            <td class="transparency" ng-click="main.selectRoom(room.$id)">{{ room.$value }}</td>
        </tr>
           
    </table> 
        
</div>


<div class="chatTitle">{{ main.roomTitle }}</div>
<div class="messageArea">           
    
    
    <ul>
        
        
        
        <li style="padding: 10px;" ng-repeat="message in main.roomMessages">
            <p style="font-size: 20px;">{{message.username}}-{{message.sentAt}}</p>
            <p>{{message.content}}</p>
        </li>
           
    </ul>       
</div> 


<div class="bottom">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Write your message here..." ng-model="contentString" ng-keyup="$event.keyCode == 13 && main.newMessage(contentString, main.currentRoomId)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="main.newMessage(contentString, main.currentRoomId)">Send</button>
      </span>
    </div>
  </div>
